.detailContainer {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
  }
  
  .image {
    width: 300px;
    object-fit: contain;
  }
  
  .info {
    max-width: 600px;
  }
  
  .description {
    margin: 20px 0;
    line-height: 1.6;
  }
  
  .price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  